mat-drawer-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#Options {
    background-color: rgb(245, 245, 245);
    border-right: 1px solid rgb(204, 204, 204);
}

#Options > app-option {
    display: block;
}

#Designer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 25px;
}

:host ::ng-deep .container {
    flex: 1 1 auto;
    display: flex;
    background-color: rgb(250, 250, 250);
}

:host ::ng-deep .hover {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    z-index: 1001;
}

:host ::ng-deep #Designer.selected {
    box-shadow: none;
}

:host ::ng-deep .selected {
    box-shadow: 0 3px 1px -2px rgba(0,0,255,.2), 0 2px 2px 0 rgba(0,0,255,.14), 0 1px 5px 0 rgba(0,0,255,.12);
    z-index: 1000;
}

:host ::ng-deep p {
    margin: 0px;
}

:host ::ng-deep img {
    width: fit-content;
}