<mat-drawer-container>
  <mat-drawer id="Options" mode="side" opened="true">
    <button mat-icon-button color="accent" (click)="openAddComponentDialog()" matTooltip="Add Component" matTooltipPosition="right">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="openDeleteComponentDialog()" matTooltip="Delete Component" matTooltipPosition="right"
      [disabled]="!isComponentSelected">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="openColorPickerDialog()" matTooltip="Change Color" matTooltipPosition="right"
      [disabled]="!isComponentSelected">
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="openModifyGridDialog()" matTooltip="Modify Grid" matTooltipPosition="right"
      [disabled]="!isContainerSelected">
      <mat-icon>view_quilt</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="openEditTextDialog()" matTooltip="Edit Text" matTooltipPosition="right"
      [disabled]="!isTextSelected">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="openChangeFontSizeDialog()" matTooltip="Change Font Size" matTooltipPosition="right"
      [disabled]="!isTextSelected">
      <mat-icon>format_size</mat-icon>
    </button>
  </mat-drawer>
  <mat-drawer-content id="Designer">

  </mat-drawer-content>
</mat-drawer-container>