<section>
  <mat-tab-group>
    <mat-tab label="Border">
      <div>
        <mat-form-field>
          <mat-select placeholder="Style" [(value)]="selectedStyle">
            <mat-option *ngFor="let style of styles" [value]="style">{{style}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="margin-left">
          <input matInput placeholder="Border Width" [(ngModel)]="borderWidth"/>
        </mat-form-field>
      </div>
      <div>
        <label>Color</label>
        <input class="color-picker-input" [(colorPicker)]="borderColor" [style.background]="borderColor"/>
      </div>
    </mat-tab>
    <mat-tab label="Border Radius">
      Border Radius Options

    </mat-tab>
  </mat-tab-group>
</section>

<button mat-button color="accent" (click)="onSaveClick()">Save</button>
<button mat-button (click)="onCancelClick()">Cancel</button>