mat-form-field {
    display: block;
}

mat-form-field textarea {
    resize: both;
    min-height: 125px;
    min-width: -webkit-fill-available;
    min-width: fill-available;
}

button:last-of-type {
    float: right;
}

:host ::ng-deep .mat-form-field-infix {
    width: 100%;
}