<section>
  <h3>Border</h3>
  <mat-slide-toggle [(ngModel)]="isAllSides"></mat-slide-toggle>
  <label>Apply border to all sides</label>
  <div *ngIf="isAllSides">
    <mat-form-field>
      <input matInput  placeholder="Border"/>
    </mat-form-field>
  </div>
  <div *ngIf="!isAllSides">

  </div>
</section>
<section>
  <h3>Border Radius</h3>
  <mat-slide-toggle [(ngModel)]="isAllCorners"></mat-slide-toggle>
  <label>Apply border radius to all corners</label>
  <div *ngIf="isAllCorners">

  </div>
  <div *ngIf="!isAllCorners">

  </div>
</section>

<button mat-button color="accent" (click)="onSaveClick()">Save</button>
<button mat-button (click)="onCancelClick()">Cancel</button>