/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    height: 100%;
}

html {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
}

p {
    white-space: pre-wrap;
}

app-root {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.router-child {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.color-picker-input {
    cursor: pointer;
    border: 1px solid #949494;
    height: 15px;
    outline: none;
    color: transparent;
    vertical-align: top;
}

.cdk-overlay-pane .mat-dialog-container {
    overflow: visible;
}